<!doctype html>
<html lang="en">
	<head>
		<%- include('../common/head', it); %>
		<link rel="stylesheet" rel="preload" as="style" href="/css/v1.css">
	</head>
	<!-- ..El navbar se renderiza aca.. -->
	<%- include('../common/header', it); %>
	<%- include('../common/scripts/indexScripts', it); %>
	<script>var V1 = true;</script>
	<body>
		<div class="bottonContextual" data-toggle="modal" data-target="#createVox" data-backdrop="false"><i class="fas fa-plus"></i></div>
		<div class="moreContainer">
			<div class="moreload hidden" id="moreload">
				<i class="fas fa-circle-notch fa-spin"></i>
				<span>Cargando mas...</span>
			</div>
		</div>
		<!-- tarjetas -->
		<div class="boxList" id="boxList">
			<% if (!it.renderConfig.V1_CARDS || (it.kind != "/" && it.kind != "/comunidades")) { %>
				<% it.data.boxs.forEach(function(box){renderBox(box)}); %>
			<% } else {
				let customCats = (it.kind === "/comunidades") ? it.data.cats.filter((cat) => cat.type === 1) : it.data.cats;
				customCats.sort(function(a, b){
					if (a.date.sticky >= 1 || b.date.sticky >= 1) return b.date.sticky - a.date.sticky;
					return ((it.sesion.config.anchors && !it.sesion.config.anchors.includes(a.catid)) ? 1 : 0) - ((it.sesion.config.anchors && it.sesion.config.anchors.includes(a.catid)) ? 1 : 0);
				})
				.forEach(function(category){
					if (it.sesion.config.cathides.includes(category.catid)){return;}
					let catbox = it.data.boxs.filter((box) => box.cat === category.catid);
					catbox = catbox.slice(0, ((catbox.length > 5 && catbox.length < 9) ? 5 : 10)); %>
					
					<div class="home-category" id="<%= category.catid %>" style="<%- category.content.extra.cardbgstyle %>">
						<div class="home-category-title" data-id="<%= category.catid %>" style="<%- category.content.extra.cardtitlestyle %>">
							<img class="home-category-image" src="<%= category.content.media.icon %>"></img>
							<a class="homelink home-category-title-text" href="/<%= category.catid %>"><%= category.content.name %></a>
							
							<% if (category.date.sticky >= 1) { %>
								<i class="fas fa-thumbtack" style="margin-left: 10px;align-self: center;font-size: small;"></i>
							<% } %>
							
							<% let anchorAction = "Pinear";
							if (it.sesion.config.anchors && it.sesion.config.anchors.includes(category.catid)) {
								anchorAction = "Despinear"; %>
								<i class="fas fa-anchor" style="margin-left: 10px;align-self: center;font-size: small;"></i>
							<% } %>
							
							<!-- elementos de prueba -->
							<span class="home-title-element" style="margin-left: auto"><%- category.content.extra.cardmsg %></span>
							<div style="margin-left: auto"></div>
							<i class="home-title-element fas fa-circle hidden"></i>
							
							<i class="home-menu fas fa-ellipsis-v"></i>
							<div class="home-menu-dropdown hidden">
								<ul>
									<li class="home-menu-dropdown-element" data-action="ocultar"><i class="fas fa-eye-slash" style="margin-right: 5px"></i><span class="home-menu-dropdown-element-text">Ocultar</span></li>
									<li class="home-menu-dropdown-element" data-action="<%= anchorAction.toLowerCase() %>"><i class="fas fa-anchor" style="margin-right: 5px"></i><span class="home-menu-dropdown-element-text"><%= anchorAction %></span></li>
								</ul>
							</div>
							
						</div>
						<div class="home-category-boxlist <%= (catbox.length < 4) ? "hidden" : "" %>">
							<% catbox.forEach(function(box){renderBox(box)}); %>
						</div>
					</div>
					
				<% }); %>
				<!-- footer -->
				<div style="margin: 10px 0px 10px;"></div>
			<% } %>
		</div>
		
		<!-- barra -->
		<div class="homeBar" id="homeBar" onclick="showHomebarScroll()">
			<% if (it.kind != "/") { 
				let catdata = it.data.cats.filter((cat) => cat.catid === it.kind.split("/")[1]);
			%>
				<div class="activityzone" id="categoryPanel">
					<div class="homebarContainer">
						<div class="homebarIcon"><img src="<%= catdata[0].content.media.icon %>"></img></div>
						<div class="acttitle-category"><%= catdata[0].content.name %></div>
					</div>
					<div class="chatlike"><%= catdata[0].content.description %></div>
				</div>
			<% } %>
			<div class="activityzone">
				<div class="acttitle">Temas populares<i class="fas fa-crown"></i></div>
				<div class="chatlike">
					<% it.data.boxs.sort((a,b) => b.content.comments - a.content.comments).slice(0, 3).forEach(function(box, i){ %>
						<div class="home-temalist" onclick="location.href='/tema/<%= box.bid %>'">
							<img src="<%= box.img.preview %>"></img><span><%= box.content.title %></span>
						</div>
					<% }); %>
				</div>
				<div class="chatlike" style="display: none!important;display: flex;color: white;justify-content: space-around;    margin-top: 7px;" id="temalist">
					<div id="comSort"><i class="fas fa-comment"></i> Por comentarios</div>
					<div id="recSort"><i class="fas fa-arrow-up"></i> Recientes</div>
				</div>
			</div>
			
			<div class="activityzone">
				<div class="acttitle">Comentarios Recientes<i class="fas fa-comment"></i></div>
				<div class="chatlike" id="activityList"></div>
			</div>
			<div class="activityzone">
				<div class="acttitle">Usando el motor Cchan v1.0</div>
				<div class="acttitle"><a>Reglas</a> - <a>Acerca de</a> - <a target="_blank" href="https://github.com/kanmikan/c-chan">Github</a></div>
			</div>
			<div style="height: 50px"></div>
		</div>
	
	</body>
	<%- include('../common/footer', it); %>
</html>

<!-- FUNCIONES DEL RENDER -->
<% function renderBox(box) { %>
	<% if (box != undefined) { 
		let categoryData = it.utils.getCategoryData(it.data.cats, box.cat); %>
		<a class="box" id="<%= box.bid %>" href="/tema/<%= box.bid %>" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(<%= (box.type.includes("video")) ? box.media.preview : box.img.preview %>); text-decoration: none; background-position: top;">
		<div class="voxHeader">
			<div class="tagList">
				<% if (!it.renderConfig.V1_CARDS) { %>
					<div class="tag categoryTag">
						<% if (it.renderConfig.SHOW_CATEGORY_ICON) { %>
							<img src="<%= categoryData.content.media.icon %>">
						<% } %>
						<span style="margin-left: 4px;margin-right: 5px;align-self: center;vertical-align: baseline;"><%- it.utils.getCatShow(box.cat) %></span></img>
					</div>
				<% } %>
				<!-- tag video -->
				<% if (box.type && box.type.includes("video")){ %>
					<div class="tagInvisible ytb"><div class="tagWrapper"></div><i class="fab fa-youtube"></i></div>
				<% } %>
				<!-- tag dados -->
				<% if (box.type && box.type.includes("dice")){ %>
					<div class="tagInvisible pollTag"><div class="tagWrapper"></div><i class="fas fa-dice-three"></i></div>
				<% } %>
				<!-- tag encuesta -->
				<% if (box.type && box.type.includes("poll")){ %>
					<div class="tagInvisible pollTag"><div class="tagWrapper"></div><i class="fas fa-poll"></i></div>
				<% } %>
				<!-- tag rss -->
				<% if (box.flag && box.flag.includes("rss")){ %>
					<div class="tagInvisible rss"><div class="tagWrapperTransparent"></div><i class="fas fa-rss"></i></div>
				<% } %>
				<!-- tag sticky local -->
				<% if (box.date && box.date.csticky > 0){ %>
					<div class="tagInvisible csticky"><div class="tagWrapperTransparent"></div><i class="fas fa-thumbtack"></i></div>
				<% } %>
				<!-- tag sticky global -->
				<% if (box.date && box.date.sticky > 0){ %>
					<div class="tag sticky">Sticky</div>
				<% } %>
			</div>
			<div class="voxComments textShadon">
				<i class="fas fa-comment"></i>
				<span class="countComments"><%= box.content.comments %></span>
			</div>
			<div class="voxAction textShadon">
				<div class="actionBotton" data-voxaction="<%= box.bid %>">
					<i class="fas fa-ellipsis-v" data-voxaction="<%= box.bid %>"></i>
				</div>
			</div>
		</div>
		
		<% if (box.content.extra != undefined && box.content.extra.title2 != undefined){ %>
			<h5 class="animetitle textShadon"><%= box.content.extra.title2 %></h5>
		<% } %>
		
		<h4 class="title textShadon"><%= box.content.title %></h4>
		<div class="over"></div>
		<div class="voxActions unselect">
			<div class="voxActionBotton">
				<div class="actionText" data-act="<%= (it.kind === "/ocultos") ? "unhide" : "hide" %>" data-contentid="<%= box.bid %>"><%= (it.kind === "/ocultos") ? "Mostrar" : "Ocultar" %></div>
			</div>
			<div class="voxActionBotton">
				<div class="actionText" data-act="report" data-contentid="<%= box.bid %>">Reportar</div>
			</div>
			<div class="voxActionBotton">
				<div class="actionText" data-act="close"><i class="fas fa-times"></i></div>
			</div>
		</div>
	</a>
	<% } %>
<% } %>
