<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./common/head', it); %>
	<link rel="stylesheet" href="/css/fontawesome.css" rel="preload" as="style">
	<link rel="stylesheet" rel="preload" as="style" href="/css/cchan.css">
	<link rel="stylesheet" rel="preload" as="style" href="/css/v1.css">
	<link rel="stylesheet" rel="preload" as="style" href="/css/adm.css">
</head>
<body>
	<%- include('./common/scripts/admScripts', it); %>
	<script>
		let KIND = "<%= it.kind %>";
		let V1 = "<%= it.renderConfig.ENABLE_V1 %>";
		
		$(function () {
			loadAdmActivity();
			var socket = io();
			socket.on('activity', function(data){
				switch(data.kind){
					case "comment":
						//append del comentario
						updateActivityCom(data.data);
						break;
					case "box":
						//append del tema
						updateActivityBox(data.data);
						break;
				}
			});
		});
	</script>
	<div class="pcontainer" id="pcontainer">
		<div class="admResume">
			<div>Resumen</div>
			<div class="pcontainer-int">
				<div><span>Usuario: <%= it.userdata.nick %></span><span style="float: right;">Rango: <%= it.userdata.rango %></span></div>
				<div>Color: <span style="color: <%= it.userdata.color %>"><%= it.userdata.color %></span></div>
				<div>Permisos: <%= it.userdata.permisos %></div>
			</div>
		</div>
		<div>Acciones Generales</div>
		<div class="pcontainer-int">
			<button class="buttonPress" id="action-1" data-state="1" type="submit">
				<span>Activar Whitelist</span> 
			</button>
			<button class="buttonPress" type="submit">
				<span>Cerrar Comentarios</span> 
			</button>
			<button class="buttonPress" type="submit">
				<span>Cerrar Temas</span> 
			</button>
			<button class="buttonPress" type="submit">
				<span>Sesiones</span>
			</button>	
		</div>
		<div class="admActivity">
			<div>Actividad Reciente</div>
			<div class="pcontainer-int act-int">
				<div class="chatlike" id="admActBoxsView"></div>
				<div class="chatlike" id="admActComsView"></div>
			</div>
		</div>
		<div class="pcontainer-int admConsole">
			<div class="consoleResult" id="consoleResult">[Escribe /help para obtener una lista de ordenes]</div>
			<form class="admConsole-int" id="consoleForm">
				<input type="hidden" id="_csrf_token" value="<%= it.sesion.simpleCsrfToken %>">
				<input type="text" id="consoleInput" value="" placeholder="/reload /promote">
				<button class="buttonPress" type="submit"><span>Enviar</span></button>
			</form>
		</div>
		<div style="text-align: center;"><a style="color: inherit;text-decoration: none;" href="/">Volver a cchan</a></div>
	</div>
</body>
</html>
