<!doctype html>
<html lang="en">
	<head>
	<%- include('./common/head', it); %>
	</head>
	<%- include('./common/header', it); %>
	<% 
		/* VARIABLES DE USO LOCAL EN EL RENDER */
		var BOX = it.data.boxs[0];
		var categoryData = it.utils.getCategoryData(it.data.cats, BOX.cat);
	%>
	<body>
	<%- include('./common/scripts/boxScripts', {it, BOX, categoryData}); %>
		<main>
			<div class="voxWraper">
				<!-- barra/header del box -->
				<section class="voxData">
				<%- include('./common/fragments/box/boxContentSection', {it, BOX, categoryData}); %>
				</section>
				<!-- area de comentarios -->
				<section class="voxCommentList">
				<%- include('./common/fragments/box/boxCommentSection', {it, BOX}); %>
				</section>
				<div class="floatQuote hidden" id="floatQuote"></div>
			</div>
		</main>
	</body>
	<%- include('./common/footer', it); %>
</html>