<!doctype html>
<html lang="en">
	<head>
		<%- include('./fragments/head', it); %>
	</head>
	<body class="main">
		<%- include('./fragments/scripts/headerScripts', it); %>
		<%- include('./fragments/scripts/indexScripts', it); %>
		<div class="mainContainer" id="mainContainer">
			<div class="navbar mainNavbar">
				<%- include('./fragments/navbar', it); %>
			</div>
			
			<%- include('./fragments/navbar/navbarElements', it); %>
			
			<div class="mainCatsBar" id="mainCatsBar" style="padding: 10px 5px 5px 5px">
				<a href="/" class="catElement" style="background-color: #3f51b5"><img src="/assets/uicons/home.svg"></img></a>
				<% it.data.cats.forEach(function(cat){ %>
					<a href="/<%= cat.content.tid %>" class="catElement <%= (it.kind === "/" + cat.content.tid) ? "catElementSelected" : "" %> ">&gt;<%= cat.content.tid %></a>
				<% }); %>
				<a href="#" class="catElement" style="background-color: #3f51b5"><img src="/assets/uicons/plus.svg"></img></a>
			</div>
			
			<div class="newPostAlertContainer hidden" id="newPostAlertContainer">
				<div class="newPostAlert" id="newPostAlert">Cargar x Temas</div>
			</div>
			
			<ul class="mainContents" id="mainContents">
			<% it.data.boxs.forEach(function(box){ %>
				<%- include('./fragments/home/postElement', {it, box}); %>
			<% }); %>
			</ul>
			<div id="list-end"></div>
			
			<div class="newPostAlertContainer loadMoreContainer hidden" id="loadMoreContainer">
				<div class="newPostAlert">
					<i class="fas fa-circle-notch fa-spin"></i>
					<span>Cargando mas...</span>
				</div>
			</div>
			
		</div>
		<div class="sideContainer">
			<div class="sideContainerBottom" id="sideContainerBottom">
				
			<% if (!["/", "/favoritos","/ocultos", "/propios"].includes(it.kind) && (it.kind.split("/")[1] && it.kind.split("/")[1] !== "search")) { 
				let categoryData = it.utils.getCategoryData(it.data.cats, it.kind.split("/")[1]); %>
				<div class="categoryInfoContainer containerMain">
					<div class="categoryInfoContainer">
						<div class="categoryInfoImage">
							<img src="<%= categoryData.content.media.image %>"></img>
						</div>
						<div class="categoryInfoDescription">
							<h1><%= categoryData.content.name %></h1>
							<h2><%= categoryData.content.description %></h2>
						</div>
					</div>
					<div class="categoryInfoButtons">
						<div class="mainButton categoryInfoButton catElementSelected">
							<span>Ocultar de la Home</span>
						</div>
					</div>
				</div>
			<% } %>
				
				<!-- <div class="sideTitle">Nuevas Imágenes</div> -->	
				<div class="slideshowContainer" id="slidecontainer">
					<%- include('./fragments/scripts/slideScript', it); %>
				</div>
				
				<div class="activityContainer">
					<div class="sideTitle">Actividad Reciente</div>
					<ul id="activityList"></ul>
					
					<div class="activityContainer">
						<div class="sideTitle sideInfo version">Usando como base <%- it.renderConfig.VERSION %></div>
						<div class="sideTitle sideInfo"><a href="info/reglas">Reglas</a> - <a href="info/welcome">Acerca de</a> - <a target="_blank" href="https://github.com/kanmikan/c-chan">Github</a></div>
					</div>
				</div>
				
			</div>
		</div>
	</body>
	
	<script src="/js/nanoSlideshow.js"></script>
	<%- include('./fragments/footer', it); %>
	
</html>