<% if (BOX.type.includes("poll")) { 
	let votos = BOX.content.extra.poll.pollVotes;
	let voted = votos.filter(item => item.uid === it.sesion.uid)[0];
	let pollOneV = votos.filter(item => item.option === "1").length;
	let pollTwoV = votos.filter(item => item.option === "2").length;
	let pollData = it.utils.getPollPercent(pollOneV, pollTwoV);
%>

	<div class="pollContainer">
		<div class="hidden">
			Estas de acuerdo con tal tal y tal bla bla bla?
		</div>
	
		<div class="pollElement">
			<div class="pollVoteButton <%= (voted && voted.option === "1") ? "voted" : "" %>" data-poll="1" data-bid="<%= BOX.bid %>">
				<img src="/assets/uicons/circle.svg"></img>
			</div>
			<div id="pollOne" class="pollOption" style="width: <%= pollData[0] %>">
				<div class="pollValue"><%= BOX.content.extra.poll.pollOne %></div>
				<div class="pollPercent"><%= pollData[0] %></div>
			</div>
		</div>
		
		<div class="pollElement">
			<div class="pollVoteButton <%= (voted && voted.option === "2") ? "voted" : "" %>" data-poll="2" data-bid="<%= BOX.bid %>">
				<img src="/assets/uicons/circle.svg"></img>
			</div>
			<div id="pollTwo" class="pollOption" style="width: <%= pollData[1] %>">
				<div class="pollValue"><%= BOX.content.extra.poll.pollTwo %></div>
				<div class="pollPercent"><%= pollData[1] %></div>
			</div>
		</div>
		<div class="hidden">
			Iniciada el xx/xx/xx a las xx:xx - Finaliza en x horas
		</div>
	</div>
	
<% } %>

