<% if (BOX.type.includes("poll")) { 
	let votos = BOX.content.extra.poll.pollVotes;
	let voted = votos.filter(item => item.uid === it.sesion.uid)[0];
	let pollOneV = votos.filter(item => item.option === "1").length;
	let pollTwoV = votos.filter(item => item.option === "2").length;
	let pollData = it.utils.getPollPercent(pollOneV, pollTwoV);
%>

	<div class="pollContainer">
		<% 
		let pollAsk = (BOX.content.extra.poll.pollAsk && BOX.content.extra.poll.pollAsk.trim() === "") ? false : true; 
		let pollDate = new Date(BOX.content.extra.poll.pollDate);	
		%>
		
		<!--
		<div class="pollTitle <%= (pollAsk) ? "" : "hidden" %>">
			<span><%= BOX.content.extra.poll.pollAsk %></span>
		</div>
		-->
		
		<div class="pollElement">
			<div class="pollVoteButton <%= (voted && voted.option === "1") ? "voted" : "" %>" data-poll="1" data-bid="<%= BOX.bid %>">
				<img src="/assets/uicons/circle.svg"></img>
			</div>
			<div id="pollOne" class="pollOption" style="width: calc(<%= pollData[0] %>)">
				<div class="pollValue"><%= BOX.content.extra.poll.pollOne %></div>
				<div class="pollPercent"><%= pollData[0] %></div>
			</div>
		</div>
		
		<div class="pollElement">
			<div class="pollVoteButton <%= (voted && voted.option === "2") ? "voted" : "" %>" data-poll="2" data-bid="<%= BOX.bid %>">
				<img src="/assets/uicons/circle.svg"></img>
			</div>
			<div id="pollTwo" class="pollOption" style="width: calc(<%= pollData[1] %>)">
				<div class="pollValue"><%= BOX.content.extra.poll.pollTwo %></div>
				<div class="pollPercent"><%= pollData[1] %></div>
			</div>
		</div>
		
		<!--
		<div class="pollTitle <%= (pollAsk) ? "" : "hidden" %>">
			<%- `Iniciada el ${pollDate.getDate()}/${pollDate.getMonth()+1}/${pollDate.getFullYear()} a las ${pollDate.getHours()}:${pollDate.getMinutes()} <span class="hidden">- Finaliza en x horas</span>` %>
		</div>
		-->
		
	</div>
	
<% } %>

