<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	
<!-- metadatos para el buscador -->
<% if (it.kind.search("tema") === -1) { %>
	<title>Cchan</title>
	<meta name="description" content="Bienvenido a Cchan, un imageboard anónimo">
	<meta name="keywords" content="Voxed, Social, Imageboard">
	
	<meta property="og:title" content="Cchan">
	<meta property="og:type" content="website">
	<meta property="og:image"  content="/assets/logo.png">
	<meta property="og:url"  content="https://demo.cchan.ga/">
	
<% } else {
	let BOX = it.data.boxs[0]; 
	let keywords = BOX.content.title.split(" ").join(", "); %>
	
	<title>Cchan - <%= BOX.content.title.substr(0,50) %></title>
	<meta name="description" content="<%= BOX.content.body.substr(0,100) %>">
	<meta name="keywords" content="<%= keywords %>, Voxed, Social, Imageboard">
	
	<meta property="og:title" content="Cchan - <%= BOX.content.title %>">
	<meta property="og:type" content="website">
	<meta property="og:image"  content="<%= BOX.img.preview %>">
	<meta property="og:url"  content="https://demo.cchan.ga/<%= BOX.cat %>/<%= BOX.bid %>">
	
<% } %>	
<% if ((it.sesion.config) ? it.sesion.config.darkmode : false) { %>
	<meta name="theme-color" content="#0a0a0a">
	<meta name="msapplication-TileColor" content="#0a0a0a">
	<meta name="msapplication-navbutton-color" content="#0a0a0a">
	<meta name="apple-mobile-web-app-status-bar-style" content="#0a0a0a">
<% } else { %>
	<meta name="theme-color" content="#fbfbfb">
	<meta name="msapplication-TileColor" content="#fbfbfb">
	<meta name="msapplication-navbutton-color" content="#fbfbfb">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fbfbfb">
<% } %>
	
<link rel="canonical" href="https://www.mikanchan.ml/" />
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" rel="preload" as="style" href="/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" async defer>
	
<!-- carga de configuraciones y temas en el head. -->
<script>
	const html = document.getElementsByTagName('html')[0];
	var darkmode = <%= (it.sesion.config) ? it.sesion.config.darkmode : false %>;
	html.dataset.theme = (darkmode) ? "darkmode" : "";
</script>
<!-- modificaciones de tema del usuario. -->
<style>
	<%= it.sesion.config.theme %>
</style>