
<!-- Aca iran los js de primera carga -->
<script src="/socket.io/socket.io.js"></script>
<script src="/node/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/node/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script>
	$(function () {
		var socket = io();
	});
</script>

<!-- inicio del navbar -->
<nav>
	<a href="/" class="logo"><img/><span>Cchan</span></a>
	<ul class="menu unselect" id="navbarMenu">
	
		<% if (it.renderConfig.ENABLE_COMMUNITIES){ %>
			<li class="navbarCategories pointer">
				<div class="categorySelected" id="navbarComu">
					<i class="fas fa-user-friends"></i>
					<div class="navCategoryTitle">Comunidades</div>
				</div>
			</li>
		<% } %>
		
		<li class="navbarCategories pointer">
			<div class="categorySelected" data-toggle="modal" data-target="#categoryListNavbar" data-backdrop="false">
				<i class="fas fa-list"></i>
				<div class="navCategoryTitle">Categorias</div>
			</div>
			<%- include('../common/fragments/header/categoryMenuModal', it); %>
		</li>
		
		<li class="menuIcon tooltip-bottom mobile" data-toggle="modal" data-target="#searchModal" data-backdrop="false">
			<i class="fas fa-search"></i>
		</li>
		
		<li class="menuIcon tooltip-bottom mobile" data-toggle="modal" data-target="#notificationsList" data-backdrop="false">
			<i class="fas fa-bell">
				<%- include('../common/fragments/header/notifIconCounter', it); %>
			</i>
		</li>
		<%- include('../common/fragments/header/notifMenuModal', it); %>
		
		<li class="menuIcon tooltip-bottom mobile" data-toggle="modal" data-target="#slideMenu" data-backdrop="false">
			<i class="fas fa-bars"></i>
		</li>
		
		<li class="newBox" data-toggle="modal" data-target="#createVox" data-backdrop="false">Nuevo Tema</li>
	</ul>
</nav>

<%- include('../common/fragments/header/slideMenuModal', it); %>
<%- include('../common/fragments/header/newBoxModal', it); %>
