<!-- inicio del navbar -->
<nav>
<!-- Aca iran los js de primera carga -->
<%- include('./scripts/headerScripts', it); %>
	<a href="/" class="logo">
		<%- include('./fragments/header/logoSVGNavidad', it); %>
		<span>Cchan</span>
	</a>
	<ul class="menu unselect" id="navbarMenu">
	
		<% if (it.renderConfig.ENABLE_COMMUNITIES){ %>
			<li class="navbarCategories pointer">
				<div class="categorySelected" id="navbarComu" onclick="location.href='/comunidades'">
					<i class="fas fa-user-friends"></i>
					<div class="navCategoryTitle">Comunidades</div>
				</div>
			</li>
		<% } %>
		
		<li class="navbarCategories pointer">
			<div class="categorySelected" data-toggle="modal" data-target="#categoryListNavbar" data-backdrop="false">
				<i class="fas fa-list"></i>
				<div class="navCategoryTitle">Categorias</div>
			</div>
			<%- include('../common/fragments/header/categoryMenuModal', it); %>
		</li>
		
		<input id="searchInput" class="searchInput hide" type="text" placeholder="Introduce el criterio a buscar..." maxlength="50">
		
		<li id="searchButton" class="menuIcon tooltip-bottom mobile" data-toggle="modal" data-target="#searchInput" data-backdrop="false" data-tooltip="Buscar tema">
			<i class="fas fa-search"></i>
		</li>
		
		<li class="menuIcon tooltip-bottom mobile" data-toggle="modal" id="notif_icon" data-target="#notificationsList" data-backdrop="false" data-tooltip="Notificaciones">
			<i class="fas fa-bell"></i>
			<%- include('../common/fragments/header/notifIconCounter', it); %>
		</li>
		<%- include('../common/fragments/header/notifMenuModal', it); %>
		
		<li class="menuIcon tooltip-bottom mobile" data-toggle="modal" data-target="#slideMenu" data-backdrop="false">
			<i class="fas fa-bars"></i>
		</li>
		
		<li class="newBox" data-toggle="modal" data-target="#createVox" data-backdrop="false">Nuevo Tema</li>
	</ul>

	<div class="alertBox" id="alertBox"></div>
	<div class="loadNewVox disabled" id="newAlert">Cargar x Temas</div>
</nav>

<%- include('../common/fragments/header/slideMenuModal', it); %>
<%- include('../common/fragments/header/newBoxModal', it); %>
<%- include('../common/fragments/header/configModal', it); %>
<%- include('../common/fragments/header/loginModal', it); %>
<%- include('../common/fragments/header/idModal', it); %>

<% if (it.data.users[0] && (it.data.users[0].permisos.includes("ADMIN") || it.data.users[0].permisos.includes("GMOD") || it.data.users[0].permisos.includes("MOD") )) { %>
	<%- include('./scripts/modScripts', it); %>
<% } %>