<head>
	<%- include('./head'); %>
	<!-- Aca iran los estilos css cargados en el header -->
	<link rel="stylesheet" href="/node/bootstrap/dist/cssbootstrap.min.css">
	<link rel="stylesheet" href="/css/cchan.css">
	<link rel="stylesheet" href="/css/fontawesome.css">
	
	<!-- Fuente que utilizaba voxed -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap" async defer>

</head>
<body>
	<!-- Aca iran los js de primera carga -->
	<script src="/node/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="/node/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
	
	<!-- inicio del navbar -->
	<nav>
		<div class="logo"><img/><span>Cchan</span></div>
		<ul class="menu unselect" id="navbarMenu">
			<!-- boton de comunidades, desactivable -->
			<li class="navbarCategories pointer">
				<div class="categorySelected" id="navbarComu"><i class="fas fa-user-friends"></i><div class="navCategoryTitle">Comunidades</div></div>
			</li>
			
			<li class="navbarCategories pointer">
				<div class="categorySelected" data-toggle="modal" data-target="#categoryListNavbar" data-backdrop="false"><i class="fas fa-list"></i><div class="navCategoryTitle">Categorias</div></div>
				<div class="categoryListNavbar hide" id="categoryListNavbar">
				
				<!-- cargar lista de categorias directamente de la base de datos. -->
				<% data.categorias.forEach(function(categoria){ %>
					<% if (categoria.type === 0){ %>
							<a href="/<%= categoria.tid %>" class="categoryItem">
								<div class="categoryItemIcon"><img src="/assets/<%= categoria.icon %>" alt=""></div>
								<div class="categoryItemTitle"><%= categoria.name %></div>
							</a>
					<% } %>
				<% }); %>
				
				</div>
			</li>
			
			<li class="menuIcon tooltip-bottom mobile" data-toggle="modal" data-target="#searchModal" data-backdrop="false"><i class="fas fa-search"></i></li>
			<li class="menuIcon tooltip-bottom mobile" data-toggle="modal" data-target="#notificationsList" data-backdrop="false">
				<i class="fas fa-bell"><span class="menuIconCount hide" id="notify">X</span>
					
					<!-- cargar notificaciones directamente de la base de datos. -->
					<!-- TODO: carga asincronica? -->
					<% if (data.notificaciones != undefined){ %>
						<% if (data.notificaciones.length != 0){ %>
							<span class="menuIconCount" id="menuIconCount" data-count="<%= data.notificaciones.length %>"><%= data.notificaciones.length %></span>
						<% } %>
					<% } %>
					
				</i>
			</li>
			
			<li class="menuIcon tooltip-bottom mobile" id="slideMenuIcon" data-toggle="modal" data-target="#slideMenu" data-tooltip="Menu" data-backdrop="false"><i class="fas fa-bars"></i></li>
			<li class="newBox" data-toggle="modal" data-target="#createVox" data-backdrop="false">Nuevo Tema</li>
		</ul>
		
	</nav>
</body>