<div class="modalBox modalConfig" id="config" style="overflow-y: auto !important;">
    <div class="modalHeader">
        <div class="modalTitle">Configuracion</div>
        <div class="closeModal" data-dismiss="modal">Cerrar</div>
    </div>
    <div class="modalContent">
        <ul class="config">
			<li>
				<div class="optionIcon"><i class="fas fa-moon" aria-hidden="true"></i></div>
                <div class="optionText">Modo Nocturno</div>
                <div class="configToggle">
                    <label class="switch">
					<% if (it.sesion.config && it.sesion.config.darkmode) { %>
						<input type="checkbox"  id="dkswitch" checked="true">
					<% } else { %>
						<input type="checkbox"  id="dkswitch">
					<% } %>
                        <span class="slider"></span>
                    </label>
                </div>
            </li>
			<li style="display:inline">
				<div class="visibleCategories" id="visibleCategories">
					<div class="optionIcon"><i class="fas fa-dice-d6" aria-hidden="true"></i></div>
					<div class="optionText">Categorias visibles</div>
				</div>
				
				<ul class="configCategoriesList hidden" id="configCategoriesList">
					<% it.data.cats.forEach(function(categoria){ %>
						<li>
							<div class="optionText"><%= categoria.content.name %></div>
							 <div class="configToggle">
								<label class="switch">
									<% if (it.sesion.config.cathides.includes(categoria.catid)) { %>
										<input type="checkbox" class="catlistCheckbox" data-catid="<%= categoria.catid %>">
									<% } else { %>
										<input type="checkbox" class="catlistCheckbox" data-catid="<%= categoria.catid %>" checked="true">
									<% } %>
									
									<span class="slider"></span>
								</label>
							</div>
						</li>
					<% }); %>
				</ul>
			</li>
			
			<li style="display:inline;margin-top: 5px;">
				<div class="visibleCategories" id="configTheme">
					<div class="optionIcon"><i class="fas fa-palette" aria-hidden="true"></i></div>
					<div class="optionText">Personalizar (Experimental)</div>
				</div>
				
				<div class="configThemeInt hidden" id="configThemeInt">
					<textarea id="themeinput" class="themeinput" placeholder="pega o escribe los estilos modificados de la página"><%= it.sesion.config.theme %></textarea>
					<button id="applyTheme" class="buttonPress buttonPressv2" style="padding: 5px;">Aplicar</button>
				</div>
			</li>
			
			<li style="padding: 15px 0px;" onclick="location.href='/login'">
				<div class="optionIcon"><i class="fas fa-user" aria-hidden="true"></i></div>
				<div class="optionText" style="cursor:pointer">Iniciar Sesion</div>
            </li>
			<li>
				<div class="opt-uidtext">UID: <span class="opt-uidata"><%= it.sesion.uid %></span></div>
			</li>
			
			<!--
			<li>
				<div class="configTitle">Home clásica</div>
				<div class="configToggle">
					<label class="switch">
						<input type="checkbox"  id="clswitch">
						<span class="slider"></span>
					</label>
				</div>
			</li>
			
		    <li style="" data-function="hiddenWords">
				<div class="optionIcon"><i class="fas fa-eye" aria-hidden="true"></i></div>
				<div class="optionText">Palabras ocultas </div>
			</li>
-->
        </ul>
    </div>
</div>
<script>
	/* EVENTOS */
	//EVENTO: al cambiar el switch del darkmode.
	//TODO: cambiar a javascript nativo.
	$("#dkswitch").on('change', function() {
		if ($(this).is(':checked')) {
			darkmode(true);
		} else {
			darkmode(false);
		}
	});
	
	//EVENTO: manipular switch
	$(".catlistCheckbox").on('change', function() {
		let catid = $(this).data("catid");
		if ($(this).is(':checked')) {
			applyConfig("cathides_del:" + catid);
		} else {
			applyConfig("cathides_add:" + catid);
		}
		console.log("Configuracion Aplicada.");
	});
	
	//EVENTO: al aplicar estilo.
	document.getElementById("applyTheme").addEventListener("click", function(e){
		let styles = document.getElementById("themeinput").value;
		console.log(styles);
		applyConfig("theme:" + styles);
		
		//vista previa test
		let style = document.createElement('style');
		style.textContent = styles;
		document.head.append(style);
	});
	
	//EVENTO: abrir lista de categorias.
	document.getElementById("visibleCategories").addEventListener("click", function(e){
		document.getElementById("configCategoriesList").classList.toggle("hidden");
	});
	
	//EVENTO: abrir opciones de personalizacion.
	document.getElementById("configTheme").addEventListener("click", function(e){
		document.getElementById("configThemeInt").classList.toggle("hidden");
	});
	
	/* FUNCIONES */
	function darkmode(toggle){
		applyConfig("darkmode:" + toggle);
		html.dataset.theme = (toggle) ? "darkmode" : "";
	}
	
	
	
</script>