<div class="menuModal notifications hide" id="notificationsList">
	<ul>
		<% if (!it.data.notifs || it.data.notifs.length === 0){ %>
			<li class="noNotification ">No hay notificaciones</li>
		<% } else { %>
			<% it.data.notifs.forEach(function(noti) { %>
				<li class="Notification" onclick="location.href='/api/ntf/<%= noti.content.bid %>/<%= noti.content.cid %>'">
					<div class="avatar"><img src="<%= noti.content.preview.thumb %>"></div>
					<div class="report">
					<% 
					let msgTitle = (noti.content.tag) ? "Te respondieron en: " : "Comentaron en tu tema: ";
					if (noti.type.includes("alert")) {msgTitle = "";}
					%>
					<span class="report-title"><%= msgTitle %></span></br><span><%= noti.content.preview.title %></span>	
					</div>
				</li>
			<% }); %>
		<% }%>			
	</ul>
</div>