<div class="menuModal notifications hide" id="notificationsList">
	<ul>
		<% if (!it.data.notifs || it.data.notifs.length === 0){ %>
			<li class="noNotification ">No hay notificaciones</li>
		<% } else { 
			let NOTIF_LIST = [];
			//notificaciones de tags.
			it.data.notifs.forEach(function(noti) {
				if (noti.content.tag){
					//notiRender(noti);
					NOTIF_LIST.push([noti, 0]);
				}
			});
			
			//agrupa las notificaciones en base al bid
			let result = it.data.notifs.filter(item => !item.content.tag).reduce(function (res, item) {
				res[item.content.bid] = res[item.content.bid] || [];
				res[item.content.bid].push(item);
				return res;
			}, Object.create(null));
			
			let notifGroup = Object.keys(result).map(function (key) {
				return result[key];
			});
			
			//crea un item para cada grupo de notificaciones.
			notifGroup.forEach(function(ngroup){
				if (ngroup[0]){
					//notiRender(ngroup[0], ngroup.length);
					NOTIF_LIST.push([ngroup[0], ngroup.length]);
				}
			});	
			
			//reordenar la lista de notificaciones en base al timestamp
			NOTIF_LIST = NOTIF_LIST.sort(function(a, b){
				return b[0].date.created - a[0].date.created;
			});
			
			//render de notificaciones
			NOTIF_LIST.forEach(function(notf){
				notiRender(notf[0], notf[1]);
			});
			
		 } %>		 
	</ul>
</div>

<% function notiRender(noti, count=0){ %>
		<li class="Notification" onclick="location.href='/api/ntf/<%= noti.content.bid %>/<%= noti.content.cid %>'">
			<div class="avatar"><img src="<%= noti.content.preview.thumb %>"></div>
			<div class="report">
			<% let msgTitle = (noti.content.tag) ? `Te respondieron en:` : `Comentaron en tu tema ${(count === 0 ? ":" : "x" + count + ":")}`;
			if (noti.type.includes("alert")) { %>
				<span class="report-title"><%= noti.content.preview.title %></span></br><span><%= noti.content.preview.desc %></span>
			<% } else { %>
				<span class="report-title"><%= msgTitle %></span></br><span><%= noti.content.preview.title %></span>				
			<% } %>
			</div>
		</li>
<% } %>
