<div class="menuModal notifications hide" id="notificationsList">
	<ul>
		<% if (!it.data.notifs || it.data.notifs.length === 0){ %>
			<li class="noNotification ">No hay notificaciones</li>
		<% } else { %>
			<% it.data.notifs.forEach(function(noti) { %>
				<li class="Notification" onclick="location.href='/api/ntf/<%= noti.content.bid %>/<%= noti.content.cid %>'">
					<div class="avatar"><img src="<%= noti.content.preview.thumb %>"></div>
					<div class="report">
					<% if (noti.content.tag) { %>
						<% if (noti.type.includes("alert")) { %>
							<span class="report-title">Alerta: </span></br><span><%= noti.content.preview.title %></span>
						<% } else { %>
							<span class="report-title">Te respondieron en: </span></br><span><%= noti.content.preview.title %></span>
						<% } %>
					<% } else { %>
						<% if (noti.type.includes("alert")) { %>
							<span class="report-title">Alerta: </span></br><span><%= noti.content.preview.title %></span>
						<% } else { %>
							<span class="report-title">Comentaron en tu tema: </span></br><span><%= noti.content.preview.title %></span>
						<% } %>
					<% } %>	
					</div>
				</li>
			<% }); %>
		<% }%>			
	</ul>
</div>