<div class="voxBar">
	<a href="/<%= categoryData.content.tid %>">
		<div class="voxCategory">
			<div class="categoryAvatar"><img src="<%= categoryData.content.media.icon %>" alt=""></div>
			<div class="categoryTitle"><%= categoryData.content.name %></div>
		</div>
	</a>
	<div class="voxCategory" style="justify-content: flex-end">
	
		<% if (BOX.type.includes("poll")){ %>
			<div class="categoryAvatar"><i class="fas fa-poll"></i></div>
		<% } %>
		<% if (BOX.type.includes("dice")){ %>
			<div class="categoryAvatar"><i class="fas fa-dice"></i></div>
		<% } %>
		<% if (BOX.type.includes("idunico")){ %>
			<div class="categoryAvatar"><i class="fas fa-id-card"></i></div>
		<% } %>
		
	</div>
</div>

<div class="voxBarTools">
	<div class="actions">
		<div class="voxOption" data-bid="<%= BOX.bid %>" id="iconDenuncia"><i class="fas fa-flag"></i><span class="voxOptionText">Denunciar</span></div>
		
		<div class="voxOption <%= (it.sesion.config.favs.includes(BOX.bid)) ? "faved" : "" %>" data-bid="<%= BOX.bid %>" id="iconfav">
		<i class="fas fa-star"></i><span class="voxOptionText">Favorito</span></div>
		
		<div class="voxOption <%= (it.sesion.config.boxhides.includes(BOX.bid)) ? "hided" : "" %>" data-bid="<%= BOX.bid %>" id="iconhide">
		<i class="fas fa-lock"></i><span class="voxOptionText">Ocultar</span></div>
		
		<% if (it.data.users[0] && (it.data.users[0].permisos.includes("ADMIN") || it.data.users[0].permisos.includes("GMOD"))){ %>
			<div class="voxOption" data-bid="<%= BOX.bid %>" data-toggle="modal" data-target="#boxModModal" data-backdrop="false">
			<i class="fas fa-circle"></i><span class="voxOptionText">Moderar</span></div>
		<% } %>
		
	</div>
	<div class="metadata">
		<% if (BOX.user.jerarquia.nick && BOX.user.jerarquia.rango){ %>
			<div class="authorVox">
			<span class="name"><%= BOX.user.jerarquia.nick %></span>
			<% if (BOX.user.jerarquia.color != ""){ %>
				<span class="commentTag" style="background-color: <%= BOX.user.jerarquia.color %>"><%= BOX.user.jerarquia.rango %></span>
			<% } else { %>
				<span class="commentTag"><%= BOX.user.jerarquia.rango %></span>
			<% } %>
			</div>
		<% } else { %>
			<div class="authorVox"><span class="name">Anonimo</span><span class="commentTag">anon</span></div>
		<% } %>
		<div class="voxCreatedAt"><%= it.utils.timeSince(BOX.date.created) %></div>
	</div>
</div>
<!-- encuestas -->
<% if (BOX.type.includes("poll")){
	let votos = BOX.content.extra.poll.pollVotes;
	let voted = votos.filter(item => item.uid === it.sesion.uid)[0];
	let pollOneV = votos.filter(item => item.option === "1").length;
	let pollTwoV = votos.filter(item => item.option === "2").length;
	let pollData = it.utils.getPollPercent(pollOneV, pollTwoV);
%>
	<div class="voxBar pollBar" id="pollBar" data-bid="<%= BOX.bid %>">
		<div class="pollOption <%= (voted && voted.option === "1") ? "voted" : "" %>" data-poll="1" id="pollOne">
			<div class="pollOptionText"><%= BOX.content.extra.poll.pollOne %></div>
			<div class="pollOptionPerent" id="pollOnePorcen"><%= pollData[0] %></div>
		</div>
		<div class="pollOption <%= (voted && voted.option === "2") ? "voted" : "" %>" data-poll="2" id="pollTwo">
			<div class="pollOptionText"><%= BOX.content.extra.poll.pollTwo %></div>
			<div class="pollOptionPercent" id="pollTwoPorcen"><%= pollData[1] %></div>
		</div>
	</div>
<% } %>
<!-- cuerpo del box -->
<article class="voxContent" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">
	<!-- multimedia del box, imagen, video, etc. -->
	<% if (!BOX.type.includes("video")) {%>
		<figure class="voxAttach">
			<div style="position: relative;width: 100%;height: 100%;">
				<i class="fa fa-search-plus attachExpandIcon hidden"></i>
				<a class="voxImage" data-pics="<%= BOX.img.full %>|<%= BOX.img.preview %>" target="_BLANK" href="<%= BOX.img.full %>"><img src="<%= (it.utils.isGif(BOX.img.full)) ? BOX.img.full : BOX.img.preview %>"></img></a>
			</div>
		</figure>
	<% } else { %>
		<figure class="voxAttachVideo">
		<% if (BOX.type.includes("object")){ %>
			<object class="objectContainer" data="<%= BOX.media.raw %>" width="100%" height="100%"></object>
		<% } else { %>
			<iframe class="objectContainer" id="mainPlayer" width="100%" height="100%" src="<%= BOX.media.raw %>" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=<%= BOX.media.raw %>?enablejsapi=1&origin=http://localhost:3000&autoplay=1><img src=<%= BOX.media.preview %>><span>▶</span></a>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<% } %>
		</figure>
	<% } %>
	<!-- contenido del box, titulo, texto, etc. -->
	<header class="voxBody">
		<h1 itemprop="name" id="voxTitle"><%= BOX.content.title %></h1>
		<div class="voxDescription" itemprop="articleBody" id="voxContent"><%- BOX.content.body %></div>
	</header>
</article>