<%- include('./commentForm', it); %>
<!-- header de lista de comentarios -->
<div class="commentsVoxCount"> 
	<span class="commentsVoxText" id="commentsVoxText">Comentarios (<span id="voxComments"><%= it.data.coms.length %></span>)</span>
	<ul class="attachsVox">
		<li data-tooltip="Modo live"><i class="fas fa-bullseye" id="option-autoload"></i></li> 
		<li data-tooltip="Archivos"><i class="fas fa-folder" id="option-imglist"></i></li> 
		<li data-tooltip="Ir Abajo"><i class="fas fa-arrow-down" id="option-godown"></i></li>
	</ul> 
</div>

<div class="commentsVoxCount loadmore unselect hidden" id="commentLoadMore">
	<span class="loadcontent">Cargar <span id="comBufferNumber">x</span></span>
</div>

<div class="attachList hidden" id="attachList">
<% it.utils.filterComMedia(it.data.coms).forEach(function(com) { %>
	<% if (com.img) { %>
		<a class="attach" target="_BLANK" href="<%= com.img.full %>">
			<img data-attach="<%= com.cid %>" src="<%= com.img.preview %>" alt=""><div class="attachType"><i class="fas fa-image"></i></div>
		</a>
	<% } %>
<% }); %>
</div>
			
<!-- lista de comentarios -->
<div class="commentList" id="commentList">
<% it.data.coms.forEach(function(com) { %>
	<%- include('./commentElement', {it, BOX, com}); %>
<% }); %>
</div>

<div style="margin: 20px;"></div>
<div class="commentsVoxCount gotop hidden" id="attach-goup"><span style="width: 100%"><i class="fas fa-arrow-up"></i></span></div>