<%
	let BOX = (it.data.boxs[0]) ? it.data.boxs[0] : "";
%>
<div class="modalBox boxModModal" id="boxModModal">
	<div style="padding: 2px 10px;">
		<button type="buttonPress" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
	<div class="modalSection boxModModal">
		<div style="padding: 0px 15px;">
			<div>Informacion del OP</div>
			</br>
			<div id="admOPuid">UID: <%= BOX.user.uid %></div>
		</div>
		<div style="width: 100%;display: flex;align-items: center;">
			<select id="modMovecat">
				<option value="" selected="selected" disabled="disabled">Elige una categoría</option>
				<% it.data.cats.forEach(function(category){ %>
					<option value="<%= category.catid %>"><%= category.content.name %></option>
				<% }) %>
			</select>
			<button style="margin-right: 10px;height: 40px;" type="button" class="buttonPress buttonPressv2 actionModBoxOption" data-action="box_move" data-bid="<%= BOX.bid %>">Mover</button>
		</div>
		<div style="width: 100%;display: flex;align-items: center;padding: 0px 10px;">
			<div style="display: flex;width: 100%;padding: 0px 10px;">
				<span style="align-self: center">Sticky Global</span>	
				<div class="configToggle" style="margin-right: 25px;">
					<label class="switch">
						<input type="checkbox" id="bsticky" <%= (BOX.date.sticky > 0) ? `checked="true"` : `` %>>
						<span class="slider"></span>
					</label>
				</div>
				<span style="align-self: center">Sticky Local</span>	
				<div class="configToggle">
					<label class="switch">
						<input type="checkbox" id="bcsticky" <%= (BOX.date.csticky > 0) ? `checked="true"` : `` %>>
						<span class="slider"></span>
					</label>
				</div>
			</div>
			<button type="button" class="buttonPress buttonPressv2 actionModBoxOption" data-action="box_change" data-bid="<%= BOX.bid %>">Aplicar</button>
		</div>
		<div style="padding: 0px 15px;">
			<button type="button" class="buttonPress buttonPressv2 actionModBoxOption" data-action="box_adv" data-bid="<%= BOX.bid %>">Advertir Usuario</button>
			<button type="button" class="buttonPress buttonPressv2 actionModBoxOption" data-action="box_delete" data-bid="<%= BOX.bid %>">Borrar Tema</button>
			<button type="button" class="buttonPress buttonPressv2 actionModBoxOption" data-action="box_ban" data-bid="<%= BOX.bid %>">Banear Usuario</button>
		</div>
	</div>
</div>
